/* Configurações de cores do site */
:root {
    --cor-fundo: #e0b895;
    --cor-pag: #f2efec;
    --cor-menu: #174a61;
    --cor-textomenu: #f5f5f5;
    --cor-caixa: #E6D4C4;
}
 
/* Definições de estilo */
body {
    background-color: var(--cor-fundo);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Restante do seu código CSS permanece o mesmo */
 
.menu {
    width: 99%;
    background-color: var(--cor-menu);
    padding: 1.5%;
    font-family: Poppins;
    text-align: center;
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Adicione uma nova classe para tornar o menu fixo na tela */
.menu-fixo {
    position: sticky;
    top: 0;
    z-index: 1000; /* Certifica-se de que o menu esteja acima de outros elementos */
}
 
/* Aplique a classe menu-fixo quando necessário */
.menu.menu-fixo {
    position: sticky;
    top: 0;
    z-index: 1000;
}
 
.menu a {  
    text-decoration: none;   margin-right: 20px;
}
 
.menu .pawsafety {  
    margin-right: 52px; /* Espaçamento à direita do "Texto Antes" */
    }
 
.corrige {
    text-decoration: none;
    color: var(--cor-textomenu);
}
 
.pawsafety {
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
 
.logo {
    margin-right: 0.5%;
    vertical-align:bottom;
}

.menu a {  
    text-decoration: none;  
    margin-right: 20px;
    color: var(--cor-textomenu);
}
 
.icone-user {
    margin-left: 1.5%;
    vertical-align:bottom;
}
 
 
/* Ajuste a margem superior do corpo para diminuir o espaçamento */
.corpo {
    background-color: var(--cor-pag);
    width: 98%;
    margin: 2% auto 2% ; /* Ajuste o valor da margem superior/inferior conforme necessário */
    padding-top: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    min-height: calc(100vh - 100px);
    text-align: center;
}
/* Adaptação para telas menores, como celulares */
@media only screen and (max-width: 767px) {
    .menu {
        padding: 2%; /* Ajuste conforme necessário para a aparência desejada */
    }
 
    .menu-fixo {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
}
 
 
/* Mantenha a posição padrão no rodapé */
.rodape {
    background-color: var(--cor-menu);
    color: var(--cor-textomenu);
    text-align: center;
    padding: 1%;
    width: 100%;
    font-family: Poppins;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
.menu a.linha{
    border-bottom: 2px solid var(--cor-textomenu); /* Cor do sublinhado para a página Home */
    padding-bottom: 5px; /* Adicione esta linha para ajustar o espaçamento */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Corpo do home*/
.saiba1 {
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -5.3%;
}

h1 {
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    text-align: justify;
    font-weight: bolder;
    font-size: 300%;
    font-style: normal;
    line-height: normal;
    position: absolute;
    margin-top: -42%;
    margin-left: 10%;
}

h2 {
    color: var(--cor-textomenu);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    text-align: justify;
    font-size: 134%;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    margin-top: -32%;
    margin-left: 10%;
}

.saibamais {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 33px;
  color: var(--cor-menu);
  border: 2px solid var(--cor-textomenu);
  background-color: var(--cor-textomenu);
  cursor: pointer;
  position: absolute;
  position: absolute;
  top: 73%;
  left: 11%;
  
}

/* Corpo contato */

.container {
    display: flex;
    justify-content: space-around;
}

.contato {
  color: var(--cor-caixa);
  border: 2px solid var(--cor-caixa);
  background-color: var(--cor-caixa);
  border-radius: 33px;
  width: 11%; /* Largura da caixa */
  max-width: 400px; /* Largura máxima da caixa */
  height: 160px;
  margin: 0 auto; /* Centraliza a caixa horizontalmente */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto ao centro */
  margin-top: 3%;
}

.contato.lateral {
  margin-left: -8%; /*Distancia das laterais das caixas de contato */
}

/* Estilos CSS para a imagem de perfil */
.perfil {
    width: 3.5%; /* Largura da imagem de perfil */
    height: 7%; /* Altura da imagem de perfil */
    border-radius: 50%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    margin-left: 5.4%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
  }

.perfil2 {
    width: 3.5%; /* Largura da imagem de perfil */
    height: 7%; /* Altura da imagem de perfil */
    border-radius: 50%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    left: 50%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
}

.perfil3 {
    width: 3.5%; /* Largura da imagem de perfil */
    height: 7%; /* Altura da imagem de perfil */
    border-radius: 50%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    left: 74%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
}

/* Estilos CSS para o texto abaixo da imagem */
.contato p {
    color: #000000; 
    text-align: center; 
    font-family: Poppins; 
    font-size: 100%;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-top: 40%; 
}

.linkedin {
    width: 3%; /* Largura da imagem de perfil */
    height: 6%; /* Altura da imagem de perfil */
    border-radius: 20%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    margin-left: 5.4%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
    margin-top: 7.5%;
  }

.linkedin2 {
    width: 3%; /* Largura da imagem de perfil */
    height: 6%; /* Altura da imagem de perfil */
    border-radius: 20%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    left: 50%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
    margin-top: 7.5%;
}

.linkedin3 {
    width: 3%; /* Largura da imagem de perfil */
    height: 6%; /* Altura da imagem de perfil */
    border-radius: 20%; /* Cria uma forma circular */
    position: absolute; /* Posiciona a imagem absolutamente dentro da caixa */
    top: 62%; /* Ajusta a posição vertical da imagem */
    left: 74%; /* Posiciona a imagem no centro horizontal */
    transform: translateX(-50%); /* Corrige a posição horizontal para o centro */
    background-size: cover;
    background-position: center;
    margin-top: 7.5%;
}
h3 {
  color: var(--cor-menu);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  text-align: justify;
  font-weight: bolder;
  font-size: 300%;
  font-style: normal;
  line-height: normal;
  position: relative;
  text-align: center;
}

p1 {
  color: #174A61;
  text-align: center;
  font-family: Poppins;
  font-size: 134%;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  display: flex;
  margin-top: -2.5%;
  margin-left: 35.5%;
  
}

p2 {
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 100%;
    font-weight: normal;
}